@{
    var accountEmail = Session["AccountEmail"] as string;
    var isAdmin = Session["IsAdminAccount"] as bool?;
}

@if (!User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        @Html.ActionLink("Register", "Register", "Customer", new { area = "" }, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Login", "Login", "Customer", new { area = "" }, new { @class = "nav-link" })
    </li>
}
else
{
    if ((bool)!isAdmin)
    {
        <li class="nav-item">
            @Html.ActionLink(accountEmail, "Index", "Customer", new { area = "" }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Logout", "Logout", "Customer", new { area = "" }, new { @class = "nav-link" })
        </li>
    }
    else
    {
        <li class="nav-item">
            @Html.ActionLink(accountEmail, "Index", "Admin", new { area = "" }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Logout", "Logout", "Admin", new { area = "" }, new { @class = "nav-link" })
        </li>
    }
}
