@model UserListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        ADMINS
    </tr>
    <tr>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Email
        </th>
        <th>
            IsActive
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Admins)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Change Role", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    <tr>
        <td>
            Ammount of users: @Model.Admins.Count
        </td>
    </tr>
</table>

<table class="table">
    <tr>
        CUSTOMERS
    </tr>
    <tr>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Email
        </th>
        <th>
            IsActive
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Customers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @if (item.IsActive)
                {
                            @Html.ActionLink("Disable User", "ChangeStatus", new { id = item.Id })

                    <script>
                        $.get("/ChangeStatus", { id: @item.Id }, function (@item.Id) {
                            alert(@item.Id);
                        });
                    </script>
                    

                }
                else
                {
                            @Html.ActionLink("Activate User", "ChangeStatus", new { id = item.Id })
                }


                |
                @Html.ActionLink("Change Role", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    <tr>
        <td>
            Ammount of users: @Model.Customers.Count
        </td>
    </tr>
</table>