@model UserListViewModel
@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="admins">
    <table class="table">
        <tr>
            ADMINS
        </tr>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Email
            </th>
            <th>
                IsActive
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Admins)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td></td>
            </tr>
        }
        <tr>
            <td>
                Ammount of users: @Model.Admins.Count
            </td>
        </tr>
    </table>
</div>

<div class="customers grid">


    <table class="table">
        @if (Model.Customers.Count() == 0)
        {
            <tr>
                <td colspan="4">
                    No records match search criteria
                </td>
            </tr>
        }
        else
        {
            <tr>
                <th>
                    CUSTOMERS
                </th>
                <th>
                        @using (Html.BeginForm("Index", "UsersList", FormMethod.Get))
    {
        <p>
            Search user: @Html.TextBox("search", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="trigger" />
        </p>
    }
                </th>
            </tr>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Email
                </th>
                <th>
                    IsActive
                </th>
                <th></th>
            </tr>

            foreach (var item in Model.Customers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @if (item.IsActive)
                        {
                            @Html.ActionLink("Disable User", "ChangeStatus", new { id = item.Id }, null)

                        }
                        else
                        {
                            @Html.ActionLink("Enable User", "ChangeStatus", new { id = item.Id }, null)
                        }
                    </td>
                </tr>
            }
            <tr>
                <td>
                    Ammount of users: @Model.Customers.Count
                </td>
            </tr>
        }
    </table>
</div>

<script>
    $(".grid").on("click", ".trigger", function(e) {
        $.ajax({
            url: "/ProcessLogEntries",
            type: "post",
            data: {
                txtSearchFor: "// txtSearch.val()",
                txtDateStart: "",
                txtDateStop: "",
                txtSource: ""
            }
        })
        .done(function(result) {
            $(".grid").html(result);
        });
     });
</script>