@model EShop.Models.OrderViewModel
@{
    IEnumerable<BOL.Carts.CartItem> cartItems = Model.Order.Cart.Items;
    Layout = null;
    var orderDateTime = Model.Order.DateTime;
}
@using BOL.Orders
<br />
<h3>Order: @orderDateTime</h3>

<div class="col-xs-1">
    <table class="table">
        <tr class="table-active">
            <th>

            </th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Total Price
            </th>
        </tr>

        @foreach (var cartItem in cartItems)
        {
            decimal price = (cartItem.BuyPrice * cartItem.Quantity) / 100.0m;
            decimal piecePrice = cartItem.BuyPrice / 100.0m;

            <tr>
                <td width="10%">
                    @{
                        if (cartItem.Item.ImageUrl != null)
                        {
                            @:<img src="@Url.Content("~/Uploads/Images/" + cartItem.Item.ImageUrl)" alt="@cartItem.Item.Name" style="height:40px; width:auto;" />
                        }
                    }
                </td>
                <td style="vertical-align:middle;">
                    @Html.ActionLink(cartItem.Item.Name, "Details", "Store", new { itemId = cartItem.Item.Id, categoryId = cartItem.Item.CategoryId }, new { @style = "color:#f25e09;text-decoration:none;" })

                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => cartItem.Item.Category.Name)
                </td>

                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => cartItem.Quantity)
                </td>

                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => piecePrice) Eur/piece
                </td>

                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => price) Eur
                </td>
            </tr>
                        }

        @{var totalCost = Model.Order.Cart.Cost / 100.0m; }

        <tr>
            <th>
                Total:
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <td>
                @Html.DisplayFor(model => totalCost) Eur
            </td>

        </tr>

    </table>
    <p>
        Order status: @Model.Order.OrderStatus.GetDescription()
        @if (@Model.Order.OrderStatus == OrderStatus.waitingForPayment)
        {
            @Html.ActionLink("Pay", "IndexFormedOrder", "PaymentService", new { orderId = Model.Order.Id }, new { @class = "btn btn-warning", @style = "float:right; margin-right:50px;" })
        }
        else
        {
            @Html.ActionLink("Repeat Order", "RepeatOrder", "Cart", new { orderId = Model.Order.Id }, new { @class = "btn btn-primary", @style = "float:right; margin-right: 50px;" })
        }
    </p>

    @if (Model.OrderRating != null)
    {
        @Html.Partial("_OrderRatingTable", Model.OrderRating)
    }
    else
    {
        @Html.Partial("_OrderRatingForm")
    }

</div>
