@model BOL.Carts.Cart
@{ 
    ViewBag.Title = "Cart";
    var cartItems = Model.Items;
}

<h2>Cart</h2>
<div class="col-xs-1">
    <table class="table table-hover">
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>

        @foreach (var cartItem in cartItems)
        {
            decimal price = (cartItem.Item.Price * cartItem.Quantity) / 100.0m;
            decimal piecePrice = cartItem.Item.Price / 100.0m;

            <tr>
                <td width="10%">
                    @{
                        if (cartItem.Item.ImageUrl != null)
                        {
                           @:<img src="@Url.Content("~/Uploads/Images/" + cartItem.Item.ImageUrl)" alt="@cartItem.Item.Name" style="height:40px; width:auto;" />
                        }
                     }
                </td>
                <td style="vertical-align:middle;">
                    @Html.ActionLink(cartItem.Item.Name, "Details", "Store", new { itemId = cartItem.Item.Id, categoryId = cartItem.Item.CategoryId }, new { @style = "color:#f25e09;text-decoration:none;" })
                </td>
                <td style="vertical-align:middle;">
                     @{
                         if (cartItem.Item.CategoryId != null)
                         {
                         @Html.ActionLink(cartItem.Item.Category.Name, "Browse", "Store", new { categoryId = cartItem.Item.CategoryId }, new { @style = "color:#f25e09;text-decoration:none;" })
                         }
                         else
                         {
                         @Html.ActionLink("No category", "Browse", "Store", new { categoryId = 0 }, new { @style = "color:#f25e09;text-decoration:none;" })
                         }
                    }
                </td>

                <td style="vertical-align:middle;" width="25%">
                    @{ Html.BeginForm("ChangeCartItemQuantity", "Cart", new { id = "myForm" }); }
                    @Html.HiddenFor(modelItem => cartItem.Item.Id)
                    @Html.TextBoxFor(modelItem => cartItem.Quantity, new { OnChange = "this.form.submit();", type = "number", min = "1" })
                    @{ Html.EndForm();}
                </td>
                
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => piecePrice) Eur/Piece
                </td>

                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => price) Eur
                </td>
                <td style="vertical-align:middle;">
                    @Html.ActionLink("Remove", "RemoveFromCart", new { cartItemId = cartItem.Id })
                </td>
            </tr>
        }

        @{var totalCost = Model.Cost / 100.0m; }

        <tr>
            <th>
                Total:
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <td>
                @Html.DisplayFor(model => totalCost) Eur
            </td>
            <th></th>
        </tr>

   </table>
    @Html.ActionLink("Pay","Index", "PaymentService", null,  new { @class = "btn btn-primary" })
</div>

<script type="text/javascript" src="~/scripts/jquery-1.10.2.js">
$( document ).ready(function() {
    console.log( "ready!" );
});
</script>