@model IEnumerable<BOL.Discounts.Discount>
@using BOL.Discounts

@{
    ViewBag.Title = "Expirations";
}

<h2>Expired discounts</h2>
<!--TODO-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>Discount value</th>
        <th></th>
    </tr>

    @foreach (var discount in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => discount.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => discount.EndDate)
            </td>
            @if (discount is AbsoluteDiscount absoulte)
            {
                var priceInEur = absoulte.AbsoluteValue / 100.0m;
                <td>
                    @Html.DisplayFor(modelItem => priceInEur) Eur
                </td>
            }
            else if (discount is PercentageDiscount percentage)
            {
                <td>
                    @Html.DisplayFor(modelItem => percentage.Percentage)%
                </td>
            }
            <td>
                @Html.ActionLink("Details", "Details", new { id = discount.Id })
            </td>
        </tr>
    }
</table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("DeleteExpired", "Discounts", new { discounts = Model })'">Delete expired discounts</button>
    </div>
</div>