@model EShop.Models.PaymentViewModel
@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>
<p>
    *Kortelės info ir apsipirkimo kaina*
</p>
<p>
    Card <br/>
    Holder: @Model.Customer.Card.Holder <br/>
    Number: @Model.Customer.Card.Number <br/>
    CVV:    @Model.Customer.Card.CVV <br/>
    
    Cart: <br/>
    Cost: @(Model.Cart.Cost / 100.0m) <br/>
    <br/>

    @if (@Model.FormedOrder)
    {
    @Html.ActionLink("Confirm and pay", "PayFormedOrder", Model.Cart, new { @class = "btn btn-primary" })
    }
    else
    {
    @Html.ActionLink("Confirm and pay", "Pay", Model.Cart, new { @class = "btn btn-primary" })
    }
   
    

</p>


