@model EShop.Models.PaymentViewModel
@{
    ViewBag.Title = "Payment";
    string method;
    int cartId = -1;
    if (Model.FormedOrder)
    {
        method = "PayFormedOrder";
        cartId = Model.Cart.Id;
    }
    else
    {
        method = "Pay";
    }
}

<h2>Payment</h2>
<br />


    @using (Html.BeginForm(method, "PaymentService", FormMethod.Post))
    {


<p>
    <b>Items </b>
    <table class="table">
        <tr class="table-active">
            <th>

            </th>
            <th>
                Name
            </th>
            <th>
                Title
            </th>
            <th>
                Category
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Total Price
            </th>
        </tr>
        @foreach (var cartItem in Model.Cart.Items)
        {
            decimal price = (cartItem.BuyPrice * cartItem.Quantity) / 100.0m;
            decimal piecePrice = cartItem.BuyPrice / 100.0m;

            <tr style="vertical-align:middle;">
                <td width="10%">
                    @{
                        if (cartItem.Item.ImageUrl != null)
                        {
                            @:<img src="@Url.Content(cartItem.Item.ImageUrl)" alt="@cartItem.Item.Name" style="height:40px; width:auto;" />
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink(cartItem.Item.Name, "Details", "Store", new { itemId = cartItem.Item.Id, categoryId = cartItem.Item.CategoryId }, new { @style = "color:#f25e09;text-decoration:none;" })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => cartItem.Item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cartItem.Item.Category.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => cartItem.Quantity)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => piecePrice) Eur/piece
                </td>

                <td>
                    @Html.DisplayFor(modelItem => price) Eur
                </td>
            </tr>
        }
    </table>

    @{var totalCost = Model.Cart.Cost / 100.0m; }

    <b>Card information</b>
    <table class="table"  style="width:40%">
        <tr class="table-active">
            <th>
                Holder
            </th>
            <th>
                Number
            </th>
            <th>
                CVV
            </th>
        </tr>
        <tr>
            <th>
                @Model.Customer.Card.Holder
            </th>
            <th>
                @Model.Customer.Card.Number
            </th>
            <th style="width:30%; text-align:center">
                @Html.EditorFor(model => model.Customer.Card.CVV, new { htmlAttributes = new { @class = "form-control" } })
                <input type="hidden" name="cartId" value="@cartId" />
            </th>
        </tr>
    </table>

    <br />
    <b>Cart cost:</b> @Html.DisplayFor(model => totalCost) Eur
    <br />
    <br />
    <input type="submit" name="btnPay" value="Pay" class="btn btn-primary" />
   
</p>
    }

<script type="text/javascript">
    function Pay() {
        var url = '@Url.Action("Pay", "PaymentService")';
        var cvv = $('#Customer_Card_CVV').val();
        $.ajax({
            type: "POST",
            url: url,
            data: { Customer_Card_CVV: cvv},
            cache: false,
            dataType: 'html',
            success: function (response) {
                $("html").empty();
                $("html").append(response);
            }
        });
    }
    function PayFormedOrder(cartID) {
        var url = '@Url.Action("PayFormedOrder", "PaymentService")';
        var cvv = $('#Customer_Card_CVV').val();
        alert(cvv);
        $.ajax({
            type: "POST",
            url: url,
            data: { Customer_Card_CVV: cvv, cartId: cartID },
            cache: false,
            dataType: 'html',
            //success: function (response) {
            //    $("#OrderTable").html(response);
            //}
        });
    }
</script>


