@model EShop.Models.PaymentViewModel
@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>
<br />
<p>
    <b>Card information</b><br/>
    <table class="table">
        <tr>
            <th>
                Holder
            </th>
            <th>
                Number
            </th>
            <th>
                CVV
            </th>
        </tr>
        <tr>
            <th>
                @Model.Customer.Card.Holder
            </th>
            <th>
                @Model.Customer.Card.Number
            </th>
            <th>
                @Model.Customer.Card.CVV
            </th>
        </tr>
    </table>

    <br />
    <b>Cart cost:</b> @(Model.Cart.Cost / 100.0m) Eur
    <br />
    <br />

        @if (@Model.FormedOrder)
        {
            @Html.ActionLink("Confirm and pay", "PayFormedOrder", Model.Cart, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Confirm and pay", "Pay", Model.Cart, new { @class = "btn btn-primary" })
        }



</p>


