@model IEnumerable<DOL.Orders.Order>

<h2>Orders history</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        
        <th></th>
    </tr>

    @foreach (var order in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.DateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = order.Id }) |
                @Html.ActionLink("Details", "Details", new { id = order.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = order.Id })
            </td>
        </tr>
    }

</table>