@model IEnumerable<BOL.Category>
@{
    ViewBag.Title = "Store";
}

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>


@Html.Partial("_Search")

@*<h2>Browse Category</h2>*@

<div id="myBtnContainer" style="margin:10px auto;">
    @{
        var count = 0;
        foreach (var category in Model)
        {
            count += category.Items.Count;
        }
    }
    @foreach (var category in Model)
    {
        @*@Html.ActionLink(category.Name, "Browse", new { categoryId = category.Id })
            <span class="badge badge-primary badge-pill">(@category.Items.Count)</span>*@
        <button class="btn badge-pill " onclick="filterSelection('@category.Name')" style="margin-bottom:2px"> @category.Name <span class="badge badge-primary badge-pill">(@category.Items.Count)</span></button>
    }
</div>


@Html.Action("ListProducts")

<script>

    filterSelection("all"/*, GetUrlParametersValue("Search")*/)

    /*
    function GetUrlParametersValue(name) {
        var url = window.location.href;
        if (!url) url = location.href;
        name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
        var regexS = "[\\?&]"+name+"=([^&#]*)";
        var regex = new RegExp( regexS );
        var results = regex.exec( url );
        return results == null ? null : results[1];
    }

    function IsSearched(element, searchTerm) {
        if (searchTerm == "" || searchTerm == null) return true;
        var term = searchTerm.toUpperCase();
        var productName = element.getElementsByClassName('card-header')[0].innerText.toUpperCase();
        var productCategory = element.getElementsByClassName('card-subtitle')[0].innerText.toUpperCase();
        if (productName.includes(term) || productCategory.includes(term)) {
            return true;
        } else {
            return false;
        }
    }
    */

    function AddItem(itemID) {

        var url = '@Url.Action("AddToCart", "Cart")';
        $("#AddMessage" + itemID).html("").show();
        $.ajax({
            type: "POST",
            url: url,
            data: { itemId: itemID, quantity: 1 },
            cache: false,
            dataType: 'html',
            success: function (response) {
                var result = JSON.parse(response);
                $("#CartBox").html(result.itemCount);
                var x = document.getElementById("snackbar");
                x.innerHTML = result.message;
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 1300);
            }
        });
    }

    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
            if (x[i].className.indexOf(c) > -1) {
                if (c != "" && (x[i].className).indexOf("show") > -1) {
                    w3RemoveClass(x[i], "show");
                }
                else {
                    if (c == "" && (x[i].className).indexOf("show") <= -1 || c != "") {
                        w3AddClass(x[i], "show");
                    }
                }
            }
        }
    }

    /*
    function filterSelection(c, termWord) {
        var x, i;
        if (termWord == null || termWord == "") {
            x = document.getElementsByClassName("filterDiv");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                if (x[i].className.indexOf(c) > -1) {
                    if (c != "" && (x[i].className).indexOf("show") > -1) {
                        w3RemoveClass(x[i], "show");
                    } else {
                        if (c == "" && (x[i].className).indexOf("show") <= -1 || c != "") {
                            w3AddClass(x[i], "show");
                        }
                    }
                }
            }
        } else {
            x = document.getElementsByClassName("filterDiv");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                if (x[i].className.indexOf(c) > -1)
                {
                    if (c != "" && (x[i].className).indexOf("show") > -1 && !IsSearched(x[i], termWord))
                    {
                        w3RemoveClass(x[i], "show");
                    }
                    else
                    {
                        if (c == "" && ((x[i].className).indexOf("show") <= -1 || c != "") && IsSearched(x[i], termWord))
                        {
                            w3AddClass(x[i], "show");
                        }
                    }
                }
            }
        }

    }

*/
    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
            }
        }
    }

    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }

    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            if (this.className.indexOf("notActive") > -1)
            {
                this.className = this.className.replace(" notActive", "");
            }
            else
            {
                this.className += " notActive";
            }
        });
    }
</script>
<script>
    $(".grid").on("click", ".trigger", function () {
        $.ajax({
            url: "/ProcessLogEntries",
            type: "post"
        })
            .done(function (result) {
                $(".grid").html(result);
            });
    });
</script>