
@{
    ViewBag.Title = "Index";
}

<h2>Admin main page</h2>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Item")'">View items</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Categories")'">View categories</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Discounts")'">View discounts</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "UsersList")'">View users</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Veiw", "Order")'">View orders</button>
